.background-image {
    background-image: url('/src/images/1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: white;
    z-index: 99;
  }
  .tracking-extra-wide {
    letter-spacing: 10px; /* Adjust this value as needed */
  }